<!-- home.html -->
{% extends 'pages/base.html' %}

{% block title %}Anasayfa{% endblock %}

{% block content %}
<div class="container">
    <div class="buttons">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p class="message {{ message.tags }}">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <button class="btn-white" onclick="navigateTo('login')">Log In</button>
        <button class="btn-white" onclick="navigateTo('register')">Sign Up</button>
    </div>
</div>
{% endblock %}
