<!-- userInterface.html -->
{% extends 'pages/base.html' %}

{% block title %}Kullanıcı Arayüzü{% endblock %}

{% block content %}
<div class="container">
    <div class="user-card">
        <div class="user-info">
            <p><strong>Adı:</strong> <span id="username"></span></p>
            <p><strong>Soyadı:</strong> <span id="last_name"></span></p>
            <p><strong>E-posta:</strong> <span id="email"></span></p>
        </div>
    </div>
    <div class="buttons">
        <button class="btn-white" onclick="navigateTo('assets/Game')">Game</button>
        <button class="btn-white" onclick="navigateTo('home')">Log out</button>
    </div>

    <div class="chat-btn" onclick="toggleChatBoxes('chat-box')">CHAT</div>
    <div class="chat-box">
        <h1 class="h-1">SOHBET</h1>
        <div id="messages"></div>
        <form class="d-flex " onsubmit="return sendMessage(event)">
            <input type="text" id="messageInput" class="form-control" placeholder="Mesaj yazın..." aria-label="Mesaj yazın">
            <button type="submit" class="btn btn-primary" id="sendButton">Gönder</button>
        </form>
    </div>
    <div class="friends-btn" onclick="toggleChatBoxes('friends-box')">FRIENDS</div>
    <div class="friends-box">
        <h1>ARKADAŞLAR</h1>
        <div class="friends-body">
            <div class="friends-card">
                <!-- Friends list goes here -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
